{% extends '../master.twig' %}
{% block content %}
    <script>
        var home = {
            selected_rule_id: null,
            init: function() {
                var modals = [
                    'modal_create_rule',
                    'modal_edit_rule',
                ];
                modals.forEach(function(modal) {
                    $('.' + modal).closest('.remodal-wrapper').remove();
                    home[modal] = $('.' + modal).remodal();
                });
            },

            save_folder: function() {
                $.post(
                    '/update-folder',
                    {
                        incoming_folder: $('#incoming_folder').val(),
                        output_folder: $('#output_folder').val()
                    },
                    function(data) {
                        if (data.status == 'error') {
                            alert(data.payload.message);
                            return;
                        }
                        alert('succesfully saved!');
                    }
                )
            },

            open_create: function(shft) {
                $('#name').val('');
                $('#is_contain').val(1);
                $('#text').val('');
                $('#dest').val('');

                home.modal_create_rule.open();
            },

            open_edit: function(shft) {
                var sorting_rule = $(shft).closest('.sorting_rule');
                
                $('#edit_name').val(sorting_rule.find('.rule_name').html());
                $('#edit_is_contain').val(sorting_rule.find('.select_contain').val());
                $('#edit_text').val(sorting_rule.find('.input_text').val());
                $('#edit_dest').val(sorting_rule.find('.input_dest').val());

                $('#edit_name').next().addClass('active');
                home.selected_rule_id = sorting_rule.attr('data-id');
                home.modal_edit_rule.open();
            },

            update_rule: function() {
                home.modal_edit_rule.close();
                $.post(
                    '/update-rule',
                    {
                        rule_id: home.selected_rule_id,
                        name: $('#edit_name').val(),
                        is_contained: $('#edit_is_contain').val(),
                        text: $('#edit_text').val(),
                        destination: $('#edit_dest').val()
                    },
                    function(data) {
                        if (data.status == 'error') {
                            alert(data.payload.message);
                            return;
                        }
                        location = location.href;
                    }
                )
            },

            create_rule: function() {
                var name = $('#name').val();
                var is_contain = $('#is_contain').val();
                var text = $('#text').val();
                var destination = $('#destination').val();

                $.post(
                    '/create-rule',
                    {
                        name: name,
                        is_contained: is_contain,
                        text: text,
                        destination: destination
                    },
                    function(data) {
                        home.modal_create_rule.close();
                        location = location.href
                        if (data.status == 'error') {
                            alert(data.payload.message);
                            return;
                        }
                    }
                )
            },

            move_up: function(shft) {
                var sorting_rule = $(shft).closest('.sorting_rule');
                var index = sorting_rule.attr('data-index');
                if (index == '1') {
                    return;
                }
                $.post(
                    '/move-rule-up',
                    {
                        rule_id: sorting_rule.attr('data-id')
                    },
                    function(data) {
                        if (data.status == 'error') {
                            alert(data.payload.message);
                            return;
                        }
                        location = location.href;
                    }
                )
            },

            move_down: function(shft) {
                var sorting_rule = $(shft).closest('.sorting_rule');
                var index = sorting_rule.attr('data-index');
                $.post(
                    '/move-rule-down',
                    {
                        rule_id: sorting_rule.attr('data-id')
                    },
                    function(data) {
                        if (data.status == 'error') {
                            alert(data.payload.message);
                            return;
                        }
                        location = location.href;
                    }
                )
            },

            run: function() {
                $('#preloader').show();
                $.get(
                    '/categorization',
                    {},
                    function(data) {
                        $('#preloader').hide();
                        if (data.status == 'error') {
                            alert(data.payload.message);
                            return;
                        }
                    }
                )
            },

            delete_rule: function(shft) {
                var sorting_rule = $(shft).closest('.sorting_rule');
                rule_id = sorting_rule.attr('data-id');
                if (confirm('Are you sure delete this?')) {
                    $.post(
                        '/delete-rule',
                        {
                            rule_id: rule_id
                        },
                        function(data) {
                            if (data.status == 'error') {
                                alert(data.payload.message);
                                return;
                            }
                            location = location.href;
                        }
                    )
                }
            },

            sign_out: function() {
                location.href = '/logout';
            }
        };  

        $(function() {
            home.init();
        });
    </script>
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="col s12">
                <a class="waves-effect waves-light btn" onclick="home.sign_out()">Sign Out</a>
            </div>
            <div class="col s12"  style="margin-top: 50px">
                <a href="/authorize" class="waves-effect waves-light btn">{{ has_token ? 'Reauthorize' : 'Authorize' }}</a>
            </div>
            <div class="input-field col s6" style="margin-top: 50px">
                <span>Incoming Folder</span>
                <select id="incoming_folder" class="browser-default" value="{{ incoming_folder }}">
                    {% for folder in folders %}
                    <option value="{{ folder.path }}" {{ incoming_folder == folder.path ? 'selected' : '' }}>{{ folder.path }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s6" style="margin-top: 50px">
                <span>Default Output Folder</span>
                <select id="output_folder" class="browser-default" value="{{ output_folder }}">
                    {% for folder in folders %}
                    <option value="{{ folder.path }}" {{ output_folder == folder.path ? 'selected' : '' }}>{{ folder.path }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s6">
                <button class="waves-effect waves-light btn" onclick="home.save_folder()">Save</button>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col s12">
                <button class="waves-effect waves-light btn" onclick="home.run();">Run Categorization</button>
            </div>
        </div>
        <div class="row sorting_rule_list" style="margin-top: 50px">
            <div>
                <h3 style="display: inline;">Sorting Rules</h3>
                <button class="waves-effect waves-light btn" style="margin-left: 20px; margin-top: -20px;" onclick="home.open_create()">Add New +</button>
            </div>
            {% for rule in rules %}
            <div class="sorting_rule input-field col s12" data-id="{{ rule.rule_id }}" data-index="{{ rule.index }}">
                <div style="display: flex;">
                    <h4 class="rule_name">{{ rule.name }}</h4>
                    <a onclick="home.open_edit(this)" style="cursor: pointer;"><i class="material-icons" style="margin-top: 30px; margin-left: 10px;">edit</i></a>
                    <a onclick="home.delete_rule(this)" style="cursor: pointer;"><i class="material-icons" style="margin-top: 30px; margin-left: 10px;">delete</i></a>
                </div>
                <div style="display: flex; line-height: 46px;">If the file 
                    <div style="width: 100px; margin-left: 10px; margin-right: 10px;">
                        <select class="select_contain" value="{{ rule.is_contained }}" disabled>
                            <option value="1" {{ rule.is_contained ? 'selected' : '' }}>Does</option>
                            <option value="0" {{ not rule.is_contained ? 'selected' : '' }}>Does not</option>
                        </select>
                    </div>
                    contain the text 
                    <input class="input_text" type="text" style="width: 200px; margin-left: 10px; margin-right: 10px;" placeholder="Write Text" value="{{ rule.text }}" disabled>
                    move to
                    <input class="input_dest" type="text" style="width: 200px; margin-left: 10px; margin-right: 10px;" placeholder="Select Destination" value="{{ rule.destination }}" disabled>
                    <div style="width: 50px;">
                        <a><i style="font-size: 20px; cursor: pointer;" class="material-icons" onclick="home.move_up(this)">arrow_upward</i></a>
                        <a><i style="font-size: 20px; cursor: pointer;" class="material-icons" onclick="home.move_down(this)">arrow_downward</i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal modal_create_rule">
        <div class="modal-content">
            <h4>Create A New Rule</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <div style="display: flex; line-height: 46px;">If the file 
                        <div style="width: 100px; margin-left: 10px; margin-right: 10px;">
                            <select id="is_contain" class="browser-default">
                                <option value="1">Does</option>
                                <option value="0">Does not</option>
                            </select>
                        </div>
                        contain the text 
                        <input id="text" type="text" style="width: 200px; margin-left: 10px; margin-right: 10px;" placeholder="Write Text">
                    </div>
                    <div style="display: flex; line-height: 46px;">
                        move to
                        <select id="destination" class="browser-default" style="width: 200px; margin-left: 10px; margin-right: 10px;">
                            {% for folder in folders %}
                            <option value="{{ folder.path }}">{{ folder.path }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="input-field col s12">
                    <button class="waves-effect waves-light btn" onclick="home.create_rule()">Create</button>
                    <button class="waves-effect waves-light btn grey" style="margin-left: 20px;" data-remodal-action="close" class="remodal-close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal_edit_rule">
        <div class="modal-content">
            <h4>Edit Rule</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input id="edit_name" type="text">
                    <label for="edit_name">Name</label>
                </div>
                <div class="input-field col s12">
                    <div style="display: flex; line-height: 46px;">If the file 
                        <div style="width: 100px; margin-left: 10px; margin-right: 10px;">
                            <select id="edit_is_contain" class="browser-default">
                                <option value="1">Does</option>
                                <option value="0">Does not</option>
                            </select>
                        </div>
                        contain the text 
                        <input id="edit_text" class="active" type="text" style="width: 200px; margin-left: 10px; margin-right: 10px;" placeholder="Write Text">
                    </div>
                    <div style="display: flex; line-height: 46px;">
                        move to
                        <select id="edit_dest" class="browser-default" style="width: 200px; margin-left: 10px; margin-right: 10px;">
                            {% for folder in folders %}
                            <option value="{{ folder.path }}">{{ folder.path }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="input-field col s12">
                    <button class="waves-effect waves-light btn" onclick="home.update_rule()">Update</button>
                    <button class="waves-effect waves-light btn grey" style="margin-left: 20px;" data-remodal-action="close" class="remodal-close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
